In [1]:
import urllib.parse
import requests
import pandas as pd
import datetime
import io

In [2]:
startYear = 1996
today = datetime.date.today()
currentYear = today.year

In [3]:
def buddishYear(year):
    return year+543

In [4]:
# dlType = "interestCSV" # interestCSV or interestXLS
# dateFrom = "01/1/2565" # dd/mm/YYYY * Year in Buddhist calendar. Eg. 13/1/2565
# dateTo = "31/12/2565" # dd/mm/YYYY * Year in Buddhist calendar. Eg. 13/1/2565
# bankValue = "002" # bankId
# bankName = "กรุงเทพ" # bankName
# rdoTypeStr = "1" # 0 for deposit or 1 for loan

def getBOT_URL(dateFrom,dateTo,bankValue,bankName,rdoTypeStr):
    payload = {
        "dlType" : dlType,
        "dateFrom" : dateFrom,
        "dateTo" : dateTo,
        "bankValue" : bankValue,
        "bankName" : bankName,
        "rdoTypeStr" : rdoTypeStr
    }
    
    url = "https://www.bot.or.th/thai/statistics/_layouts/application/interest_rate/DownloadFile.aspx?"

#     res = requests.get(url,params=payload)
    
    return url+urllib.parse.urlencode(payload)

In [5]:
all_dfs = []

In [6]:
year = startYear
while year<=currentYear:
    dateFrom = "01/01/{}".format(buddishYear(year))
    dateTo = "31/12/{}".format(buddishYear(year))
    
    if(year==startYear):
        dateFrom="31/01/{}".format(buddishYear(year))
    elif(year==currentYear):
        date = today.day
        month = today.month
        dateTo = "{}/{}/{}".format(date,month,buddishYear(year))
        
#     print("Date from {} to {}".format(dateFrom,dateTo))
    
    bankValue = "002"
    bankName = "กรุงเทพ"
    dlType = "interestCSV"
    rdoTypeStr = "1" 
    
    url = getBOT_URL(dateFrom,dateTo,bankValue,bankName,rdoTypeStr)
    df = pd.read_csv(url,sep="|",encoding="iso8859_11",skiprows=[0,1])
    df["bank"] = bankName
    
    all_dfs.append(df)
    year += 1

In [9]:
consolidated_df = pd.concat(all_dfs)

In [10]:
print(consolidated_df)

           วันที่    MOR    MLR    MRR  สูงสุด  ผิดนัด บัตรเครดิต     bank
0    31 ม.ค. 2539  14.00  13.75  14.00   16.00   18.00          -  กรุงเทพ
1    29 ก.พ. 2539  13.75  13.75  13.75   15.75   18.00          -  กรุงเทพ
2   31 มี.ค. 2539  13.75  13.75  13.75   15.75   18.00          -  กรุงเทพ
3   30 เม.ย. 2539  13.75  13.75  13.75   15.75   18.00          -  กรุงเทพ
4    31 พ.ค. 2539  13.75  13.25  13.75   15.75   18.00          -  กรุงเทพ
..            ...    ...    ...    ...     ...     ...        ...      ...
3    06 ม.ค. 2566   6.75   6.25   6.65   18.00   21.65       16.0  กรุงเทพ
4    09 ม.ค. 2566   6.75   6.25   6.65   18.00   21.65       16.0  กรุงเทพ
5    10 ม.ค. 2566   6.75   6.25   6.65   18.00   21.65       16.0  กรุงเทพ
6    11 ม.ค. 2566   6.75   6.25   6.65   18.00   21.65       16.0  กรุงเทพ
7    12 ม.ค. 2566   6.75   6.25   6.65   18.00   21.65       16.0  กรุงเทพ

[5679 rows x 8 columns]