In [1]:
import pandas as pd
from datetime import datetime
import seaborn as sns
import matplotlib

In [2]:
loan_df = pd.read_csv("./output/loan-interest-rates_EN.csv",index_col=False)
deposit_df = pd.read_csv("./output/deposit-interest-rates_EN.csv",index_col=False)

In [5]:
def convert_date(txt):
    return datetime.strptime(txt,"%d %b %Y")

In [6]:
loan_df['datetime'] = loan_df['Date'].apply(convert_date)

In [21]:
mor_df = loan_df[['datetime','MOR','bank']].astype({"bank":"string"}).dropna()

In [22]:
print(mor_df)

         datetime     MOR                                bank
0      1996-01-31  14.000                     Krung Thai Bank
1      1996-02-29  14.000                     Krung Thai Bank
2      1996-03-31  13.750                     Krung Thai Bank
3      1996-04-30  13.750                     Krung Thai Bank
4      1996-05-31  13.750                     Krung Thai Bank
...           ...     ...                                 ...
288863 2023-01-24   6.875  Sumitomo Mitsui Trust Bank (Thai)
288864 2023-01-25   6.875  Sumitomo Mitsui Trust Bank (Thai)
288865 2023-01-26   6.875  Sumitomo Mitsui Trust Bank (Thai)
288866 2023-01-27   6.875  Sumitomo Mitsui Trust Bank (Thai)
288867 2023-01-30   6.875  Sumitomo Mitsui Trust Bank (Thai)

[277955 rows x 3 columns]

In [23]:
print(mor_df.dtypes)

datetime    datetime64[ns]
MOR                float64
bank                string
dtype: object

In [24]:
print(mor_df[mor_df["MOR"].isnull()])

Empty DataFrame
Columns: [datetime, MOR, bank]
Index: []

In [ ]:
sns.relplot(
    data=mor_df, kind="line",
    x="datetime", y="MOR", col="bank",
)